@charset "utf-8";

/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
.menu > li.menu__multi {
  position: relative;
}

li.menu__multi ul.menu__second-level {
  position: absolute;
  top: 40px;
  width: 100%;
  background: #072A24;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu__multi:hover ul.menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

li.menu__multi ul.menu__second-level li {
  position: relative;
}

li.menu__multi ul.menu__second-level li:hover {
  background: #111;
}

li.menu__multi ul.menu__second-level li ul.menu__third-level {
  position: absolute;
  top: -1px;
  left: 100%;
  width: 100%;
  background: #111;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu__multi ul.menu__second-level li:hover ul.menu__third-level {
  visibility: visible;
  opacity: 1;
}

li.menu__multi ul.menu__second-level li ul.menu__third-level li {
  position: relative;
}

li.menu__multi ul.menu__second-level li ul.menu__third-level li:hover {
  background: #2a1f1f;
}

li.menu__multi ul.menu__second-level li ul.menu__third-level li ul.menu__fourth-level {
  position: absolute;
  top: -1px;
  left: 100%;
  width: 100%;
  background: #2a1f1f;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu__multi ul.menu__second-level li ul.menu__third-level li:hover ul.menu__fourth-level {
  visibility: visible;
  opacity: 1;
}

.init-right:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}